.l-sidebar {
  border: solid 4px black;
  grid-area: side;
  display: flex;
  flex-direction: column;
  background-color: #fbf2d3;
  padding: 10px;
  position: sticky;
  top: 50px;
  &__profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
  }
  &__nav {
    &__item {
      padding: 10px;
      & li {padding: 10px;}
    }
  }
}

// .main-wrapper {
//   display: flex;
//   width: 100%;
// }


.main-contents {
  width: 100%;
}
