* {
  font-family: "Hannotate SC";
  line-height: 1.5;
}

html {
  font-size: 16px;
}

p,
span {
  font: 1.2rem;
}

section {
  margin-bottom: 100px;
}

a {
  color: #000;
}

input,
textarea {
  font-size: 1.2rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  border: none;
  outline: none;
}

.ly_header,
.ly_sidebar,
.ly_sidebar_sm,
.ly_main,
.bl_searchBar {
  background-color: #f7f7f7;
  background-color: #fcf0e4;
}


.ly_footer {
  background-color: #ebe2d5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications {
  color: #fff;
  text-align: center;
  & .notice {
    background-color: #20b12fa8;
    margin: 0;
    padding: 10px;
  }
  & .alert {
    background-color: #f99797;
    margin: 0;
    padding: 10px;
  }
}

.alert,
#error_explanation,
#error_explanation + ul {
  background-color: #f99797;
  color: #fff;
  text-align: center;
}

$sidebarWidth: 220px;
$postAsideWidth: 280px;

$pc_md: 1199px; // pc_md
$pc_sm: 1024px; // pc_sm
$tab: 768px; // タブレット
$sp: 425px; // スマホ

@mixin pc_md {
  @media (max-width: ($pc_md)) {
    @content;
  }
}

@mixin pc_sm {
  @media (max-width: ($pc_sm)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
