// reset.cssやnormalize.cssによる素地作りの他、サイト全体にまつわるスタイルを要素セレクタに直接指定します。 またPRECSSでは、特定のスコープ内における限定的なベーススタイルの適用も許容します。 例えば「ヘッダー内のリンクは全て白色だが、フッター内は青色に統一したい」という場合に、限定的なベーススタイルを使用します。ただし詳細度を高める行為であるため、十分注意して使用してください。

* {
  font-family: "M PLUS Rounded 1c";
  font-family: "Hannotate SC";
  // background-color: #f7f7f7;
  font-size: 1.2rem;
  line-height: 1.5;
}

body {
  min-width: 100vh;
  min-height: 100vh;
}

.ly_cont {
  height: 100%;
  // background-image: image-url("home_image3.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
}

a {
  color: #000;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  border: none;
  outline: none;
}

// input {
//   &[type="text"],
//   &[type="email"],
//   &[type="password"] {
//     width: 400px;
//     height: 40px;
//   }
// }

// 開発用
// div,
// .ly_header,
// .ly_sidebar,
// .ly_main,
// .ly_footer {
//   border: solid 1px gray;
// }

.ly_header,
.ly_sidebar,
.ly_main,
.ly_footer,
.bl_searchBar {
  background-color: #f7f7f7;
  background-color: #fcf0e4;
}
