.bl_jumbotron {
  height: 100vh;
  background-image: image-url("top_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bl_jumbotron_about {
  text-align: center;
  position: relative;
  top: 25%;
  width: 70%;
  position: absolute;
  padding: 1.5em 1.5em;
  margin: 2em 0px;
  background: rgba(255, 255, 255, .7);
  border-radius: 40px;
  & h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.bl_jumbotron_form {
  width: 60%;
  margin: 40px auto;
  & ul {
    display: flex;
    justify-content: space-between;
  }
}

.bl_appDescription {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:nth-child(3) {
    background-color: #f7f7f7;
  }
  & .bl_appDescription_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60%;
    & .bl_appDescription_img {
      width: 45%;
      height: 100%;
      border-radius: 20px;
      background-size: cover;
      &__1 {
        @extend .bl_appDescription_img;
        background-image: image-url("about_1.jpg");
      }
      &__2 {
        @extend .bl_appDescription_img;
        background-image: image-url("about_2.jpg");
      }
      &__3 {
        @extend .bl_appDescription_img;
        background-image: image-url("about_3.jpg");
      }
    }
    & .bl_appDescription_content {
      width: 45%;
      text-align: center;
      & h3 {
        font-size: 1.5rem;
        padding-bottom: 20px;
      }
      & p {
        font-size: 1.2rem;
        line-height: 1.8;
      }
      & span {
        font-size: 1rem;
      }
    }
  }
}

.bl_flexWrap {
  display: flex;
  flex-wrap: wrap;
  & .bl_postImg__sm {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.bl_btn {
  display: flex;
  justify-content: center;
  & .el_btn+.el_btn {
    margin-left: 20px;
  }
}

.bl_postImg {
  position: relative;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  &__sm {
    @extend .bl_postImg;
    width: 60px;
    height: 60px
  }
  &__md {
    @extend .bl_postImg;
    width: 200px;
    height: 200px
  }
  &__lg {
    @extend .bl_postImg;
    padding-top: 120%;
  }
  &__xl {
    @extend .bl_postImg;
    padding-top: 100%;
  }
}

.bl_pageHead {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bl_pageTitle {
  & h2 {
    font-size: 1.7rem;
  }
}

.bl_formPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .bl_formInput__img {
    margin-left: 40px;
  }
  & .bl_list_item_content {
    padding: 20px 0 40px;
    display: flex;
    justify-content: center;
  }
}

.bl_userInfoContainer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  & div {
    display: flex;
    align-items: center;
  }
}

.bl_userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  & p {
    font-size: 1.5rem;
    margin-left: 15px;
  }
  &_font__sm {
    @extend .bl_userInfo;
    & p {
      font-size: 1.2rem;
      margin-left: 15px;
    }
  }
  &_font__lg {
    @extend .bl_userInfo;
    & p {
      font-size: 1.8rem;
      margin-left: 20px;
    }
  }
}

.bl_followInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  & a {
    width: 100%;
  }
  & div {
    display: flex;
    justify-content: space-between;
    & p {
      margin-right: 10px;
    }
  }
}

.bl_followBtn {
  margin-left: 20px;
}

.bl_card {
  width: 31%;
  margin: 0 1% 5%;
  @media screen and (max-width: 1199px) {
    width: 48%;
  }
  @media screen and (max-width: 699px) {
    width: 100%;
  }
  & .bl_postInfo {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
}

.bl_sideNav {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 60px;
  &_item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    padding: 15px 20px;
    font-size: 1.1rem;
    &:focus,
    &:hover {
      background-color: #d4d4d489;
      & .bl_searchBar {
        display: block;
      }
    }
  }
}

.bl_searchBar {
  display: none;
  width: 280px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 100%;
  overflow-y: scroll;
  padding: 20px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);
  & h3 {
    margin: 10px 0;
    margin-left: 20px;
  }
  & .bl_sideNav_item {
    padding: 15px 30px;
    &:hover {
      background-color: #d4d4d489;
    }
  }
  & span:nth-child(1) {
    margin-right: 5px;
    font-size: 20px;
  }
}

.bl_postDetail {
  & .bl_postDetail_cont {
    width: 100%;
    display: flex;
    & .bl_postDetail_main {
      width: 60%;
      & .bl_postDetail_tag {
        margin-top: 10px;
        margin-right: 15px;
      }
      & .bl_postDetail_description {
        padding-bottom: 20px;
        word-wrap: break-word;
      }
      & .bl_postDetail_secondaryImgContainer {
        padding: 20px 0;
        & p {
          margin-bottom: 5px;
        }
      }
      & .bl_postDetail_commentContainer {
        padding: 20px 0;
        & .bl_commentCount {
          padding-bottom: 20px;
          & p {
            float: right;
          }
        }
        & .bl_comment {
          padding: 20px 0;
          & .bl_postDetail_commentUser {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          & .bl_postDetail_commentContent {
            padding-left: 10px;
            word-wrap: break-word;
          }
        }
      }
    }
    & .bl_postDetail_aside {
      width: 40%;
      min-width: 150px;
      padding-left: 50px;
      & .bl_postDetail_exifList {
        margin-top: -15px;
      }
    }
  }
  & .bl_list_item_content {
    & a span {
      margin-left: 5px;
    }
  }
}

.bl_userDetail {
  padding: 0 40px;
  & .bl_list_item {
    min-height: 100px;
  }
}

.bl_list_item {
  padding-top: 15px;
  border-bottom: 1px solid #cdcdcd;
  &_title {
    background-color: #a58e62;
    color: #fff;
    & p {
      margin-left: 10px;
    }
  }
  &_content {
    padding: 5px 10px 0;
  }
}

.bl_followerPage {
  padding: 0 40px;;
  .bl_userInfoContainer {
    padding: 30px 0 0;
    border-bottom: 1px solid #cdcdcd;
  }
}
