// ボタンやラベル、見出し等の最小単位のモジュールで、どこにでも埋め込むことが可能なモジュールです。 命名は極力汎用的なものを推奨します。これはどのようなコンテンツが入っても、名前と内容が乖離しないための措置です。 「極力汎用的な命名を」というのはBEMとは真逆の方向を向いている思想ですが、現実として、例えば全ての色に意味を持たせた命名は困難です。

.el_btn {
  display: inline-block;
  width: auto;
  padding: 10px 10px;
  background-color: #ab987c;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  color: #f7f7f7;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
  border-radius: 30px;
  &:focus,
  &:hover {
    background-color: #f7f7f7;
    border-color: currentColor;
    color: #ab987c;
  }
  &__blue {
    @extend .el_btn;
    background-color: #4ab7ff;
    &:focus,
    &:hover {
      background-color: #f7f7f7;
      border-color: currentColor;
      color: #4ab7ff;
    }
  }
  &__red {
    @extend .el_btn;
    background-color: #f99797;
    &:focus,
    &:hover {
      background-color: #f7f7f7;
      border-color: currentColor;
      color: #f99797;
    }
  }
  &__green {
    @extend .el_btn;
    background-color: #38b359;
    &:focus,
    &:hover {
      background-color: #f7f7f7;
      border-color: currentColor;
      color: #38b359;
    }
  }
  &__sm {
    @extend .el_btn;
    padding: 0 10px;
  }
  &__square {
    @extend .el_btn;
    border-radius: 3px;
  }
}

.el_icon {
  font-size: 20px;
  margin-right: 10px;
}

.el_header_logo {
  font-size: 2.5rem;
}

.el_postImg {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: cover;
}

.el_profileImg {
  border-radius: 50%;
  object-fit: cover;
  &__sm {
    @extend .el_profileImg;
    width: 50px;
    height: 50px;
  }
  &__lg {
    @extend .el_profileImg;
    width: 100px;
    height: 100px;
  }
}

.alert {
  color: #262626;
  background: #FFEBE8;
  text-align: center;
  border: 2px solid #990000;
  padding: 12px;
  font-weight: 850;
}

.el_imgInput {
  padding-left: 20px;
}
