// 基本的に1つのスタイルのみで、意図的な上書きのため !important を付加することを推奨します。命名規則に関してはモディファイアと同様「 keyValue 」の形を取り、省略する場合はEmmetのチートシートに準ずることを推奨します。 その他の規則として px以外の単位の場合は分かりやすい頭文字で表現 小数点はアンダースコアで表現 ネガティブな値はショートハンドを大文字で表現 ショートハンドの後に文字列が続く場合はキャメルケースで表現 とします（これらの規則はモディファイアの命名にも概ね有効です）。 ただし1つの要素に対しヘルパーを多用し過ぎると、style属性を使用していることと変わりが無くなってしまうので、ヘルパーが3つ以上になった場合はモジュール化を検討するべきでしょう。 基本的に1スタイルのみのため、1行で記載することを許容します。 また挙動が限定的でかつ明確な場合のみ、1つ以上のスタイルであってもヘルパーで処理することが可能です。

.hp_flex {
  display: flex;
}

.hp_maxWidth__1000px {
  max-width: 1000px;
}

.hp_centerColumn {
  margin: 0 auto;
}

.hp_mt__10px {
  margin-top: 10px;
}
