// ヘッダー、ボディエリア、メインエリア、サイドエリア、フッター等の大きなレイアウトを形成する要素に使用します。 原則としてこのグループには、レイアウトに関わるスタイリング（gridやflex、width、margin、padding、floatなど）しか行いません。あくまでコンテンツが入る「枠」を定義するだけで、コンテンツは後述するモジュールグループで作成します。 ただし「ヘッダーの背景色は黒」など「枠」と「あしらい」の粒度が一致している場合は、必要に応じてレイアウト以外のスタイリングを行うことも許容します。

.ly_wrapper {
  width: 100%;
  height: 100%;
}

.ly_cont {
  display: flex;
  width: 100vw;
}

.ly_header {
  padding: 20px 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.ly_header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.ly_sidebar {
  width: 15%;
  min-width: 200px;
  height: 100vh;
  position: sticky;
  top: 100px;
  z-index: 3;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.ly_main {
  width: 85%;
  flex-grow: 1;
  padding: 0 5%;
}

.ly_footer {
  position: sticky;
  height: 200px;
  z-index: 3;
}

.l-home {
  display: flex;

  &__about {
    width: 100%;
  }

  &__form {
    width: 100%;
    margin-right: 240px;
  }
}

.post-main-area {
  display: flex;
  padding: 20px;
}

.post-detail-info {
  width: 100%;
}

.post-image-area {
  padding: 10px;
}

.post-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-detail-info {
  padding: 10px;
}

.contributor-other-posts {
  padding: 10px;
}

.comments-container {
  padding: 10px;
}

#location-map {
  width: 100%;
  height: 500px;
}
