// ヘッダー、ボディエリア、メインエリア、サイドエリア、フッター等の大きなレイアウトを形成する要素に使用します。 原則としてこのグループには、レイアウトに関わるスタイリング（gridやflex、width、margin、padding、floatなど）しか行いません。あくまでコンテンツが入る「枠」を定義するだけで、コンテンツは後述するモジュールグループで作成します。 ただし「ヘッダーの背景色は黒」など「枠」と「あしらい」の粒度が一致している場合は、必要に応じてレイアウト以外のスタイリングを行うことも許容します。

.ly_grid {
  display: grid;
  grid-template:
    "head head" 50px
    "side main" 1fr
    "foot foot" 100px
    / 240px 1fr;
}

.ly_header {
  grid-area: head;
}

.ly_sidebar {
  grid-area: side;
}

.ly_main {
  grid-area: main;
  padding: 20px 50px;
}

.ly_footer {
  grid-area: foot;
  position: sticky;
}

.ly_header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: sticky;
  top: 0;
  z-index: 999;
  &_logo {
    font-size: 32px;
  }
  &_logoutContainer {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px;
  }
  &_logoutBtn {
    padding: 10px;
  }
}

.ly_sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: sticky;
  top: 50px;
  &__profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
  }
  &__nav {
    &__item {
      padding: 10px;
      & li {
        padding: 10px;
      }
    }
  }
}



.l-home {
  display: flex;

  &__about {
    width: 100%;
  }

  &__form {
    width: 100%;
    margin-right: 240px;
  }
}

.post {
  display: grid;
  grid-template:
    "user aside" 70px
    "img aside" auto
    "other aside" auto
    "comment aside" auto

    / 2fr 1fr;
  &__user {
    grid-area: user;
    padding: 10px;
  }

  &__image {
    grid-area: img;
    padding: 10px;
  }

  &__aside {
    grid-area: aside;
    padding: 10px;

    &__photograph-info>div {
      padding: 10px;
    }
  }

  &__post__other-posts {
    grid-area: other;
  }

  &__post__comments-container {
    grid-area: comment;
  }
}

.post-main-area {
  display: flex;
  padding: 20px;
}

.post-detail-info {
  width: 100%;
}

.post-image-area {
  padding: 10px;
}

.post-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-detail-info {
  padding: 10px;
}

.contributor-other-posts-area {
  padding: 10px;
}

.contributor-other-posts {
  padding: 10px;
}

.other-post {
  width: 50px;
  height: 50px;
  padding: 5px;
  object-fit: cover;
}

.comments-container {
  padding: 10px;
}

.comment-form {
  padding: 10px;
}

.comments-area {
  padding: 10px;
}



#location-map {
  width: 100%;
  height: 500px;
}
