@import 'base';

.un_favorite {
  margin-right: 10px;
  & a {
    color: rgb(255, 124, 146);
  }
}

#location-map {
  width: 100%;
  height: 500px;
  @include sp {
    height: 400px;
  };
}

#hamburgerMenuBtn {
  display: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 4;
  & span {
    position: relative;
    display: block;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: all 0.5s;
    border-radius: 4px;
    &:nth-child(1) {
      top: 15px;
    }
    &:nth-child(2) {
      top: 20px;
    }
    &:nth-child(3) {
      top: 25px;
    }
  }
  @include tab {
    display: block;
  };
}

#hamburgerMenuNav {
  width: 250px;
  height: 1000px;
  background-color: #fff;
  border: 2px solid black;
  position: fixed;
  right: -250px;
  z-index: 4;
  transition: all .3s;
}

#mask {
  display: none;
  transition: all .5s;
}

.open {
  & #hamburgerMenuNav {
    right: 0;
    transition: all .3s;
  }
  & #mask {
    display: block;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;
    z-index: 3;
    cursor: pointer;
  }
  & #hamburgerMenuBtn span {
    background-color: #fff;
    &:nth-child(1) {
      transform: translateY(8px) rotate(-315deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(-8px) rotate(315deg);
    }
  }
}
